{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{{ attach_library('crew/ksl-landing-page') }}

{% set classes = [
  'ksl-landing-page',
  node.bundle|clean_class,
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
  'clearfix',
] %}

{# TODO: This needs to be cleaned up and moved to ksl-landing-page-search.js #}
<script type="text/javascript">
  function limittoFullText(myForm) {
    if (myForm.fulltext_checkbox.checked)
      myForm.clv0.value = "Y";
    else
      myForm.clv0.value = "N";
  }

  function limittoScholarly(myForm) {
    if (myForm.scholarly_checkbox.checked)
      myForm.clv1.value = "Y";
    else
      myForm.clv1.value = "N";
  }

  function limittoCatalog(myForm) {
    if (myForm.catalog_only_checkbox.checked)
      myForm.clv2.value = "Y";
    else
      myForm.clv2.value = "N";
  }

  function limittoIR(myForm) {
    if (myForm.IR_only_checkbox.checked)
      myForm.clv3.value = "Y";
    else
      myForm.clv3.value = "N";
  }

  function ebscoPreProcess(myForm) {
    myForm.bquery.value = myForm.search_prefix.value + myForm.uquery.value;
  }

  function limittoArticles(myForm) {
    myForm.bquery.value += ' AND ZT Article';
  }

  function limittoBooks(myForm) {
    myForm.bquery.value += ' AND PT Book';
  }

  function submitFormFuncCatalog(e) {
    e.preventDefault();
    var myForm = document.getElementById('catalogForm');
    var searchTerm = myForm.elements["searcharg"].value.trim();
    if (searchTerm == '') {
      window.open('https://catalog.case.edu/search');
    } else {
      window.open('https://catalog.case.edu/search/?searchtype=' + myForm.elements['search_type'].value + '&searcharg=' + myForm.elements["searcharg"].value);
    }
    return false;
  }

  function openCatalog(e) {
    window.open("https://catalog.case.edu");
  }

  function submitFormFuncdb(e) {
    e.preventDefault();
    var myForm = document.getElementById('databaseForm');
    window.open('https://researchguides.case.edu/az.php?q=' + myForm.elements["database"].value);
    return false;
  }

  function submitFormFuncOhioLink(e) {
    e.preventDefault();
    var myForm = document.getElementById('ohiolinkForm');
    window.open('https://catalog.ohiolink.edu/iii/encore/search/C__S' + myForm.elements["ohiolink"].value + myForm.elements['search_postfix'].value);
    return false;
  }
</script>

<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">
        {{ label }}
      </a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  <div class="ksl-landing-page__pattern-bkg">
    <div class="ksl-landing-page__search-wrapper">
      <div class="ksl-landing-page__search" id="ksl-landing-page__search">
      <h2>Search</h2>
        <div class="ksl-landing-page__search-nav" id="ksl-landing-page__search-nav">
          <ul class="ksl-landing-page__nav-items" id="tabs-0" role="tablist">
            <li class="ksl-landing-page__nav-item ksl-landing-page__nav-item--tab1 active" id="ksl-landing-page__tab1">
              <a class="ksl-landing-page__nav-link" href="#">
                {{ 'Search Everything'|t }}
              </a>
            </li>

            <li class="ksl-landing-page__nav-item ksl-landing-page__nav-item--tab2" id="ksl-landing-page__tab2">
              <a class="ksl-landing-page__nav-link" href="#">
                {{ 'eJournals'|t }}
              </a>
            </li>

            <li class="ksl-landing-page__nav-item ksl-landing-page__nav-item--tab3" id="ksl-landing-page__tab3">
              <a class="ksl-landing-page__nav-link" href="#">
                {{ 'Catalog'|t }}
              </a>
            </li>

            <li class="ksl-landing-page__nav-item ksl-landing-page__nav-item--tab4" id="ksl-landing-page__tab4">
              <a class="ksl-landing-page__nav-link" href="#">
                {{ 'Databases'|t }}
              </a>
            </li>

            <li class="ksl-landing-page__nav-item ksl-landing-page__nav-item--tab5" id="ksl-landing-page__tab5">
              <a class="ksl-landing-page__nav-link" href="#">
                {{ 'OhioLINK'|t }}
              </a>
            </li>
          </ul>

          <div class="ksl-landing-page__nav-results">
            {# CUSTOM SEARCH TAB #}
            <div class="ksl-landing-page__result ksl-landing-page__result--custom active"
                 id="ksl-landing-page__result1">
              <form class="ksl-landing-page__form form-inline"
                    action="https://search.ebscohost.com/login.aspx"
                    method="get"
                    onsubmit="ebscoPreProcess(this)"
                    target="_blank">

                <div class="ksl-landing-page__seach-form-wrapper">
                  <input name="direct" type="hidden" value="true">
                  <input name="scope" type="hidden" value="site">

                  <!-- target an EDS profile -->
                  <input name="site" type="hidden" value="eds-live">
                  <input name="profile" type="hidden" value="eds">

                  <!-- Auth type -->
                  <input name="authtype" type="hidden" value="ip,shib,guest">
                  <input name="custid" type="hidden" value="s8481523">
                  <input name="groupid" type="hidden" value="main">

                  <!-- Limiter: Full Text -->
                  <input name="cli0" type="hidden" value="FT">
                  <input id="clv0" name="clv0" type="hidden" value="N">

                  <!-- Limiter: Scholarly/Peer-Reviewed -->
                  <input name="cli1" type="hidden" value="RV">
                  <input name="clv1" type="hidden" value="N">

                  <!-- Limiter: Catalog Only -->
                  <input name="cli2" type="hidden" value="FC">
                  <input name="clv2" type="hidden" value="N">

                  <!-- Limiter: Institutional Repositories Only -->
                  <input name="cli3" type="hidden" value="FC1">
                  <input name="clv3" type="hidden" value="N">

                  <select class="ksl-landing-page__select"
                          name="search_prefix"
                          onchange="#">
                    <option class="ksl-landing-page__option"
                            selected="selected"
                            value="">
                      {{ 'Keyword'|t }}
                    </option>

                    <option class="ksl-landing-page__option" value="TI ">
                      {{ 'Title'|t }}
                    </option>

                    <option class="ksl-landing-page__option" value="AU ">
                      {{ 'Author'|t }}
                    </option>
                  </select>

                  <div class="ksl-landing-page__search-group">
                    <input class="ksl-landing-page__input" name="bquery" type="hidden" value="">

                    <input class="ksl-landing-page__input"
                           name="uquery"
                           placeholder="Search for articles, journals, books, databases, etc."
                           type="text"/>

                    <input class="ksl-landing-page__btn ksl-landing-page__btn--blue"
                           type="submit"
                           value="Search">
                  </div>
                </div>

                <div class="ksl-landing-page__limiter">
                  <div class="ksl-landing-page__input-wrapper">
                    <input class="ksl-landing-page__input"
                           id="fulltext_checkbox_all"
                           onclick="limittoFullText(this.form)"
                           name="fulltext_checkbox"
                           type="checkbox">

                    <label class="ksl-landing-page__label" for="fulltext_checkbox_all">
                      {{ 'Full-Text (online)'|t }}
                    </label>
                  </div>

                  <div class="ksl-landing-page__input-wrapper">
                    <input class="ksl-landing-page__input"
                           id="scholarly_checkbox_articles"
                           onclick="limittoScholarly(this.form)"
                           name="scholarly_checkbox"
                           type="checkbox">

                    <label class="ksl-landing-page__label" for="scholarly_checkbox_articles">
                      {{ 'Scholarly (Peer Reviewed)'|t }}
                    </label>
                  </div>
                </div>
              </form>
              <div class="italic">or browse the <a href="https://catalog.case.edu/">Catalog</a>, <a
                  href="http://researchguides.case.edu/databases">Databases</a>, or <a
                  href="https://search.ebscohost.com/login.aspx?authtype=guest&custid=s8481523&groupid=main&profile=pfi">E-Journals</a>
                directly
              </div>
            </div>

            {# JOURNALS TAB #}
            <div class="ksl-landing-page__result ksl-landing-page__result--journals" id="ksl-landing-page__result2">
              <form class="ksl-landing-page__form form-inline"
                    action="https://search.ebscohost.com/login.aspx"
                    method="get"
                    onsubmit="ebscoPreProcess(this)"
                    target="_blank">

                <div class="ksl-landing-page__seach-form-wrapper">
                  <input name="direct" type="hidden" value="true">
                  <input name="scope" type="hidden" value="site">

                  <!-- target an EDS profile -->
                  <input name="site" type="hidden" value="eds-live">
                  <input name="profile" type="hidden" value="pfi">
                  <input name="defaultdb" type="hidden" value="edspub">

                  <!-- Auth type -->
                  <input name="authtype" type="hidden" value="ip,guest">
                  <input name="custid" type="hidden" value="s8481523">
                  <input name="groupid" type="hidden" value="main">

                  <select class="ksl-landing-page__select"
                          name="search_prefix"
                          onchange="#"
                          size="1">
                    <option class="ksl-landing-page__option"
                            selected="selected"
                            value="">
                      {{ 'Title'|t }}
                    </option>

                    <option class="ksl-landing-page__option" value="">
                      {{ 'Keyword'|t }}
                    </option>

                    <option class="ksl-landing-page__option" value="AU ">
                      {{ 'Author'|t }}
                    </option>

                    <option class="ksl-landing-page__option" value="IS ">
                      {{ 'ISSN'|t }}
                    </option>
                  </select>

                  <div class="ksl-landing-page__search-group">
                    <input name="bquery" type="hidden" value="">

                    <input class="ksl-landing-page__input form-control"
                           name="uquery"
                           placeholder="Search by keyword/subject, title, or ISSN"
                           type="text"/>

                    <input class="ksl-landing-page__btn ksl-landing-page__btn--blue"
                           type="submit"
                           value="Search">
                  </div>
                </div>
              </form>
            </div>

            {# Catalog TAB #}
            <div class="ksl-landing-page__result ksl-landing-page__result--catalog" id="ksl-landing-page__result3">
              <form class="ksl-landing-page__form form-inline"
                    id="catalogForm"
                    onsubmit="submitFormFuncCatalog(event)">
                <div class="ksl-landing-page__seach-form-wrapper">
                  <select class="ksl-landing-page__select"
                          name="search_type"
                          onchange="#"
                          size="1">
                    <option class="ksl-landing-page__option"
                            selected="selected"
                            value="t">
                      {{ 'Title'|t }}
                    </option>

                    <option class="ksl-landing-page__option" value="X">
                      {{ 'Keyword'|t }}
                    </option>

                    <option class="ksl-landing-page__option" value="a">
                      {{ 'Author'|t }}
                    </option>

                    <option class="ksl-landing-page__option" value="i">
                      {{ 'ISBN'|t }}
                    </option>

                    <option class="ksl-landing-page__option" value="i">
                      {{ 'ISSN'|t }}
                    </option>
                  </select>

                  <div class="ksl-landing-page__search-group">
                    <input class="ksl-landing-page__input"
                           name="searcharg"
                           placeholder="Search by keyword/subject, title, author, ISBN, ISSN, etc."
                           type="text"/>

                    <input class="ksl-landing-page__btn ksl-landing-page__btn--blue"
                           type="submit"
                           value="Search">
                  </div>
                </div>
              </form>
            </div>

            {# Database TAB #}
            <div class="ksl-landing-page__result ksl-landing-page__result--database" id="ksl-landing-page__result4">
              <form class="ksl-landing-page__form"
                    id="databaseForm"
                    onsubmit="submitFormFuncdb(event)">
                <div class="ksl-landing-page__seach-form-wrapper">
                  <div class="ksl-landing-page__search-group">
                    <input class="ksl-landing-page__input"
                           name="database"
                           placeholder="Search by database name"
                           type="text"/>

                    <input class="ksl-landing-page__btn ksl-landing-page__btn--blue"
                           type="submit"
                           value="Search">
                  </div>
                </div>
              </form>
            </div>

            {# OhioLINK TAB #}
            <div class="ksl-landing-page__result ksl-landing-page__result--ohiolink" id="ksl-landing-page__result5">
              <form class="ksl-landing-page__form"
                    id="ohiolinkForm"
                    onsubmit="submitFormFuncOhioLink(event)">
                <div class="ksl-landing-page__seach-form-wrapper">
                  <select class="ksl-landing-page__select"
                          name="search_postfix"
                          onchange="#"
                          size="1">
                    <option class="ksl-landing-page__option"
                            selected="selected"
                            value="__Orightresult__U?lang=eng">
                      {{ 'Keyword'|t }}
                    </option>

                    <option class="ksl-landing-page__option"
                            value="__Ff:facetfields:title:title:Title::__Orightresult__U__X0?lang=eng">
                      {{ 'Title'|t }}
                    </option>

                    <option class="ksl-landing-page__option"
                            value="__Ff:facetfields:author:author:Author::__Orightresult__U__X0?lang=eng">
                      {{ 'Author'|t }}
                    </option>

                    <option class="ksl-landing-page__option"
                            value="__Orightresult__U?lang=eng">
                      {{ 'ISBN'|t }}
                    </option>

                    <option class="ksl-landing-page__option"
                            value="__Orightresult__U?lang=eng">
                      {{ 'ISSN'|t }}
                    </option>
                  </select>

                  <div class="ksl-landing-page__search-group">
                    <input class="ksl-landing-page__input"
                           name="ohiolink"
                           placeholder="Search by keyword/subject, author, title, ISBN, ISSN, etc."
                           type="text"/>

                    <input class="ksl-landing-page__btn ksl-landing-page__btn--blue"
                           type="submit"
                           value="Search">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% if content.field_ksl_stacked_btns|render|trim %}
        <div class="ksl-landing-page__stacked-btns">
          {{ content.field_ksl_stacked_btns }}
        </div>
      {% endif %}
    </div>
  </div>

  {% if content.field_ksl_slideshow|render|trim %}
    <div class="ksl-lading-page__slide-wrapper">
      {% if content.field_ksl_slideshow|render|trim %}
        <div class="ksl-landing-page__slider">
          {{ content.field_ksl_slideshow }}
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% if content.field_upcoming_events|render|trim %}
    <div class="ksl-landing-page__events">
      {{ content.field_upcoming_events }}
    </div>
  {% endif %}

  {% if content.field_col_content|render|trim %}
    <div class="ksl-landing-page__col-sub">
      {{ content.field_col_content }}
    </div>
  {% endif %}

  {% if content.field_ksl_subfeature|render|trim %}
    <div class="ksl-landing-page__vert-sub">
      {{ content.field_ksl_subfeature }}
    </div>
  {% endif %}

  {% if content.field_news|render|trim %}
    <div class="ksl-landing-page__news">
      {{ content.field_news }}
    </div>
  {% endif %}
</article>
