{{ attach_library('crew_thinkbox/menu') }}

{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    <div class="black-bkg">
    <div class="container">
      <h2 class="menu-secondary-title">In This Section</h2>
      <ul{{ attributes.addClass('menu-secondary') }}>
      {% for item in items %}
        <li{{ item.attributes.addClass('menu-item') }}>
          {{ link(item.title, item.url, {'class':['menu-link']}) }}
          {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>
    </div>
  {% endif %}
{% endmacro %}
