{{ attach_library('crew_thinkbox/menu') }}

{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level, cta) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      {# <div>SEARCH</div> #}
      <ul{{ attributes.addClass('menu-top-level') }}>
    {% else %}
      <ul class="menu-dropdown">
      <li class='mobile-back'><a class='menu-link'>Back</a></li>
      {% if menu_level == 1 %}
      {% set ctas = [
        {
          'title': 'Equipment',
          'text': 'We offer the tools and resources you need to bring your idea to life.',
          'button': 'Explore Our Equipment',
          'url': '/thinkbox/equipment'
        },
        {
          'title': 'Entrepreneurship',
          'text': 'With business support, office space and more, we can help you take your ideas to market.',
          'button': 'Find Support',
          'url': '/thinkbox/entrepreneurship'
        },
        {
          'title': 'Events',
          'text': 'Connect with us through an upcoming workshop, skills class or training session.',
          'button': 'View Our Event Schedule',
          'url': '/thinkbox/events'
        },
        {
          'title': 'Funding',
          'text': 'Students and community members can qualify for financial support on a range of projects.',
          'button': 'Learn More',
          'url': '/thinkbox/funding'
        },
        {
          'title': 'Impact',
          'text': 'From academic support to projects that make headlines, we’re known for making an impact.',
          'button': 'See How',
          'url': '/thinkbox/impact'
        },
        {
          'title': 'About',
          'text': 'Sears think[box] is Case Western Reserve University’s seven-story, full-service innovation center.',
          'button': 'Discover Sears think[box]',
          'url': '/thinkbox/about'
        }
      ] %}
      <div class="cta">
        <div class="cta-title">{{ctas[cta - 1].title}}</div>
        <p>{{ctas[cta - 1].text}}</p>
        <a class="round-button" href={{ctas[cta - 1].url}}>{{ctas[cta - 1].button}}</a>
      </div>
      {% endif %}
    {% endif %}
    {% for item in items %}
      <li{{ item.attributes.addClass('menu-item') }}>
        {% if item.below %}
          {% set belowClass = 'below-class' %}
        {% else %}
          {% set belowClass = '' %}
        {% endif %}
        {{ link(item.title, item.url, {'class':['menu-link', belowClass]}) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1, loop.index) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}