{{ attach_library('crew_entrepreneurship/menu') }}

<button class="menu-toggle">Menu</button>

{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('menu-top-level') }}>
    {% else %}
      <ul class="menu-dropdown">
    {% endif %}
    {% for item in items %}
      <li{{ item.attributes.addClass('menu-item') }}>
        {{ link(item.title, item.url, {'class':['menu-link']}) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
