{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

{% if footer_options.campus_location and footer_options.social_media %}
  {% set university_container = 'col-md-6' %}
  {% set location_container = 'col-lg-4 col-md-6' %}
  {% set social_container = 'col-lg-3 col-md-6' %}
  {% set links_container = 'col-lg-2 col-md-6 col-lg-2 col-md-4' %}
{% elseif footer_options.campus_location and footer_options.social_media == 0 %}
  {% set university_container = 'col-md-4' %}
  {% set location_container = 'col-lg-7 col-md-5' %}
  {% set links_container = 'col-lg-2 col-md-3' %}
{% elseif footer_options.campus_location == 0 and footer_options.social_media %}
  {% set university_container = 'col-md-4' %}
  {% set social_container = 'col-lg-3 col-lg-offset-4 col-md-4' %}
  {% set links_container = 'col-lg-2 col-md-4' %}
{% else %}
  {% set university_container = 'col-md-4' %}
  {% set links_container = 'col-lg-offset-7 col-md-offset-2 col-lg-2' %}
{% endif %}

<div class="col-lg-3 {{university_container}} col-sm-6 col-xs-12 footer__block footer__block--university">
  <!-- THIS WILL NEED TO BE UPDATED -->
  <img src="https://dudbm6bcnmy8e.cloudfront.net/cwru/img/cwru_acronym_blue.svg" onerror="javascript:this.src='https://dudbm6bcnmy8e.cloudfront.net/cwru/img/cwru_acronym_blue.svg'" alt="Case Western Reserve University Logo with Tagline" class="footer__logo" title="Case Western Reserve University">
  <p>&copy; {{ 'now'|date('Y') }} <a href="//www.case.edu/">Case Western Reserve University</a></p>
  <address>10900 Euclid Ave. Cleveland, Ohio 44106</address>
  <p>
    216.368.2000<br />
    <a href="http://www.case.edu/legal.html">Legal Notice</a> | <a href="http://case.edu/privacy-statement/index.html">Privacy Policy</a>
  </p>
</div>

{% if footer_options.campus_location %}
<div class="{{location_container}} col-sm-6 col-xs-12 footer__block footer__block--department">
  <img src="https://dudbm6bcnmy8e.cloudfront.net/cwru-drupal-assets/images/pin-icon.svg" alt="map marker" class="footer__map-icon hidden-sm hidden-xs">
  <div class="footer__department-info">
    <h3 class="footer__header">{{ '[site:name]' | token_replace }}</h3>

    {% if content.group_address %}
      <strong>Campus Location:</strong>
      <p>
        {{ content.group_address.field_site_street[0]['#context'].value }}
        {% if content.group_address.field_site_street_two[0]['#context'] %}
          <br>
          {{ content.group_address.field_site_street_two[0]['#context'].value }}
        {% endif %}
        <br>
        {{ content.group_address.field_site_city[0]['#context'].value }},
        {{ content.group_address.field_site_state[0]['#context'].value }}
        {{ content.group_address.field_site_zip[0]['#context'].value }}
      </p>
    {% endif %}

    {% if content.group_mailing_address %}
      <strong>Mailing Address:</strong>
      <p>
        {{ content.group_mailing_address.field_site_mailing_street[0]['#context'].value }}
        {% if content.group_mailing_address.field_site_mailing_street_two[0]['#context'] %}
          <br>
          {{ content.group_mailing_address.field_site_mailing_street_two[0]['#context'].value }}
        {% endif %}
        <br>
        {{ content.group_mailing_address.field_site_mailing_city[0]['#context'].value }},
        {{ content.group_mailing_address.field_site_mailing_state[0]['#context'].value }}
        {{ content.group_mailing_address.field_site_mailing_zip_four[0]['#context'].value }}
      </p>
    {% endif %}
    {% if content.field_site_phone[0]['#title'] %}
      <p>
        <strong>Phone:</strong> <a href="{{ content.field_site_phone[0]['#url'].uri }}">{{ content.field_site_phone[0]['#title'] }}</a>
      </p>
    {% endif %}
    {% if content.field_site_email[0]['#title'] %}
      {% for email in content.field_site_email %}
        {% if email['#title'] is defined and email is iterable %}
        <p>
          <strong>Email:</strong> <a href="{{ email['#url'].uri }}">{{ email['#title'] }}</a>
        </p>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if content.field_site_feedback[0]['#context'] %}
      <p>
        <a href="mailto:{{ content.field_site_feedback[0]['#context'].value }}">Site Feedback</a>
      </p>
    {% endif %}
  </div>
</div>
{% endif %}

{% if footer_options.social_media %}
<div class="{{social_container}} col-sm-6 col-xs-12 footer__block footer__block--social">
  {% for section in content.field_site_social_ref %}
    {% if section['#paragraph'].field_social_title_ is defined and section is iterable %}
      <h3 class="footer__header">{{ section['#paragraph'].field_social_title_.value }}</h3>
      <div class="footer__social-icons">
        {% for item in section['#paragraph'].field_social_ref %}
          <a href="{{item.entity.field_social_url.uri}}" target="_blank"
          title="CWRU {{item.entity.field_social_select.value[6:]|capitalize}}"
          class="footer__social-icon {{item.entity.field_social_select.value}}"></a>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
</div>
{% endif %}

<div class="{{links_container}} col-sm-6 col-xs-12 footer__block footer__block--links">
  <h3 class="footer__header" tabindex="0">CWRU Links</h3>
  <ul role="menu" class="footer-links">
    <li role="menuitem">
      <a href="http://case.edu/admissions/">Apply</a>
    </li>
    <li role="menuitem">
      <a href="https://securelb.imodules.com/s/1526/index.aspx?sid=1526&gid=1&pgid=327&cid=914">Give</a>
    </li>
    <li role="menuitem">
      <a href="http://case.edu/visit/">Visit</a>
    </li>
    <li role="menuitem">
      <a href="https://webapps.case.edu/directory/">Directory</a>
    </li>
  </ul>
</div>
