{# default plain list of items #}
{% if is_front == FALSE %}

{%
  set display_amount_limit_by_user, feedcount = vars.user_display_limit, vars|length
%}

<ul class='non-homepage media-list'>
  {% for item in vars %}
    {% if loop.index <= min(feedcount, display_amount_limit_by_user) %}
      <li class="media">
        <div class="media-object media-left">
          <a href="{{ item.index.link }}">
            <div class="media-image-container">
              <img class="img-responsive" src="{{ item.description.image_src }}" alt="{{ item.description.image_alt }}" />
            </div>
          </a>
        </div>
        <div class="media-body">
          <h3 class="font-medium"><a href="{{ item.link }}">{{ item.title }}</a></h3>
          <div class="article-date">{{ item.pubDate|date("F d, Y") }}</div>
          {% autoescape false %}
            <div>{{ item.description.text|slice(0, 353)|split(' ')|slice(0, -1)|join(' ') ~ '…' }}</div>
          {% endautoescape %}
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
{% else %}
<div class='homepage-listing'>
  {% for item in vars|slice(0,3) %}
    <div class="homepage-listing-item">
      <a class="homepage-listing-item-link" href="{{ item.link }}">
        <div class="img-ratio-container">
          <img class="img-responsive" src="{{ item.description.image_src }}" alt="{{ item.description.image_alt }}" />
        </div>
        <h3 class="font-medium">{{ item.title }}</h3>
        <div class="article-date">{{ item.pubDate|date("F d, Y") }}</div>
      </a>
    </div>
  {% endfor %}
</div>
<div class="align-right field--name-field-featured-news-link">
  <a href="{{vars.read_more.link}}">{{vars.read_more.title}}</a>
</div>
{% endif %}
