{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}

{% if content.field_lw_landing_aside.0 %}
  {% set asideClass = 'has-aside' %}
{% else %}
  {% set asideClass = 'no-aside' %}
{% endif %}

<article{{ attributes.addClass(classes, asideClass) }}>
  <div{{ content_attributes.addClass('content') }}>
    <div class="row">
        {% if content.field_lw_landing_aside.0 %}
          <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
              {{ content|without('field_lw_landing_aside') }}
          </div>
          <aside class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              {{ content.field_lw_landing_aside }}
          </aside>
        {% else %}
          <div class="col-lg-12">
            {{ content }}
          </div>
        {% endif %}
  </div>
</article>
