{% set classes = [
  node.bundle | clean_class,
  node.isPromoted()
    ? 'is-promoted',
  node.isSticky()
    ? 'is-sticky',
  not node.isPublished()
    ? 'is-unpublished',
  view_mode
    ? view_mode | clean_class,
  'clearfix'
] %}


<article{{ attributes.addClass(classes) }}>
    <div class='row'>
        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 robust-content-small">
            {{ content.field_core_facilities_overview }}
            {{ content.field_core_facilities_affiliatio }}
            {{ content.field_core_facilities_school_col }}
            {{ content.field_core_facilities_category }}
            {% if content.field_core_facilities_website.0 %}
            <div class='button-blue'>
                {{ content.field_core_facilities_website }}
            </div>
            {% endif %}
        </div>
        <aside class="col-lg-4 col-md-6 col-sm-6 col-xs-12" role="complementary">
            {% if content.field_core_facilities_director.0 %}
            <div class="paragraph paragraph--type--aside paragraph--view-mode--default">
                <div class="field field--name-field-aside-title">Director</div>
                <div class="field field--name-field-aside-content">
                    {{ content.field_core_facilities_director }}
                </div>
            </div>
            {% endif %}
            {% if content.field_core_facilities_tech_cont.0 %}
            <div class="paragraph paragraph--type--aside paragraph--view-mode--default">
                <div class="field field--name-field-aside-title">Technical Contact</div>
                <div class="field field--name-field-aside-content">
                    {{ content.field_core_facilities_tech_cont }}
                </div>
            </div>
            {% endif %}
            {% if content.field_core_facilities_admin.0 %}
            <div class="paragraph paragraph--type--aside paragraph--view-mode--default">
                <div class="field field--name-field-aside-title">Administrator</div>
                <div class="field field--name-field-aside-content">
                    {{ content.field_core_facilities_admin }}
                </div>
            </div>
            {% endif %}
        </aside>
    </div>
</article>
