{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}

{{ attach_library('crew/library') }}

<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer>
      {{ author_picture }}
      <div{{ author_attributes.addClass('author') }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div{{ content_attributes.addClass('content') }}>
    <div class="ksl-header">
        <div class="ksl-hero-container">
            {{ content.field_hero_image }}
        </div>
        <div class="ksl-hero-content-container">
            <div class="collections-select-container">
                Search
                <select id="collections-select" class="collections-select" onload="showCurrentForm(this)" onchange="showCurrentForm(this)">
                    <option value="discovery">Discovery</option>
                    <option value="libraryWebsite">Library Website</option>
                </select>
                <i class="fa fa-caret-down"></i>
            </div>

            {# basic form #}
            <form id="discovery" action="https://search.ebscohost.com/login.aspx" method="get" target="_blank" onsubmit="ebscoPreProcess(this)">
                <div class="ksl-search-form">
                  <div class="search-select-container">
                      <i class="fa fa-search"></i>
                      <select class="search-select" onchange="#" name="search_prefix">
                        <option selected="selected" value="">Keyword</option>
                        <option value="TI ">Title</option>
                        <option value="AU ">Author</option>
                      </select>
                      <i class="fa fa-caret-down"></i>
                  </div>
                  <input name="direct" value="true" type="hidden">
                  <input name="scope" value="site" type="hidden">
                  <input name="site" value="eds-live" type="hidden">
                  <input name="profile" value="eds" type="hidden">
                  <input name="authtype" value="guest" type="hidden">
                  <input name="custid" value="s8481523" type="hidden">
                  <input name="groupid" value="main" type="hidden">
                  <input name="bquery" value="" type="hidden">
                  <input class="search-input" type="text" placeholder="e.g. Queen Victoria..." name="uquery">
                  <button class="search-button" type="submit">Search <i class="ml-10 fa fa-caret-right"></i></button>
                </div>
                <div class="text-align-right">
                  <input name="cli4" value="FT1" type="hidden">
                  <input name="clv4" type="hidden" value="Y">
                  <input type="checkbox" name="ailc_checkbox" id="ailc_checkbox_all" onclick="limittoAiLC(this.form)" CHECKED>
                  <label for="ailc_checkbox_all">Available in Library Collection</label>
                  <!-- Limiter: Scholarly/Peer-Reviewed -->
                  <input name="cli1" value="RV" type="hidden">
                  <input name="clv1"  type="hidden" value="N">
                  <input name="scholarly_checkbox" id="scholarly_checkbox_articles" onclick="limittoScholarly(this.form)" type="checkbox">
                  <label  for="scholarly_checkbox_articles">Scholarly (Peer-Reviewed)</label>
                  <!-- Limiter: Full Text -->
                  <span id="DT1_FT" style="display:none">
                    <input name="cli0" value="FT" type="hidden">
                    <input name="clv0" type="hidden" value="N">
                    <input type="checkbox" name="fulltext_checkbox" id="fulltext_checkbox_all" onclick="limittoFullText(this.form)" >
                    <label for="fulltext_checkbox_all">Full Text (Online)</label>
                  </span>
                  <!-- Limiter: Catalog Only -->
                  <span style="display:none">
                    <input name="cli2" value="FC" type="hidden"><input name="clv2" type="hidden" value="N">
                    <input name="catalog_only_checkbox" id="catalog_only_checkbox" onclick="limittoCatalog(this.form)" type="checkbox">
                    <label for="catalog_only_checkbox">Catalog Only</label>
                  </span>
                  <!-- Limiter: Institutional Repositories Only -->
                  <span style="display:none">
                    <input name="cli3" value="FC1" type="hidden">
                    <input name="clv3" type="hidden" value="N">
                    <input name="IR_only_checkbox" id="IR_only_checkbox" onclick="limittoIR(this.form)" type="checkbox">
                    <label for="IR_only_checkbox">Institutional Repository Only</label>
                  </span>
                </div>
            </form>

            <form id="libraryWebsite" style="display:none" action="//www.case.edu/search-ksl/">
              <div class="ksl-search-form">
                <input class="search-input" type="text" placeholder="e.g. Queen Victoria..." name="q">
                <button class="search-button" type="submit">Search <i class="ml-10 fa fa-caret-right"></i></button>
                <input type="hidden" name="cx" value="016898689465592376854:sxsxz740mhu">
                <input type="hidden" name="ie" value="UTF-8">
                <input class="hidden" role="button" name="sa" type="submit" title="search" alt="search">
              </div>
              <br>
            </form>
            <br>
            <p class="text-right italic">or browse the <a href="https://catalog.case.edu/">Catalog</a>, <a href="http://researchguides.case.edu/databases">Databases</a>, or <a href="https://search.ebscohost.com/login.aspx?authtype=guest&custid=s8481523&groupid=main&profile=pfi">E-Journals</a> directly</p>
            <div class="circles-bkg">
                <div class="button-group-opacity">
                    <div class="button-group-container">
                      <div class="flex mb-20">
                        <div class="loginStatusContainer additionalContentRight mr-20 flex-1">
                          <span class="loginStatTop">
                            <span class="loginStatBottom clearfix">
                              <div id="ctl00_ucAdditionalContent_cbAdditionalContent">
                                <div id="libchat_f8ce7688662075eab22e66801c0c1bc1">
                                </div>
                              </div>
                            </span>
                          </span>
                        </div>

                        <a href="https://case.edu/library/spaces/reserve-space" class="button-blue flex-1"><i class="fa fa-calendar-check-o pr-10"></i>Reserve a Space</a>
                      </div>
                       <div class="flex mb-20">
                      <a href="./about-us/hours" class="button-blue flex-1 mr-20"><i class="fa fa-clock-o pr-10"></i>Library Hours and Access</a>

                      <a href="https://catalog.case.edu/patroninfo" class="button-blue flex-1" style="padding-top: 1em">My Account</a>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    {{ content|without('field_hero_image') }}
  </div>

</article>
