{{ attach_library('crew_entrepreneurship/icon-feature') }}

{%
  set icons = [
    'learn',
    'create',
    'connect',
    'engage',
    'earn',
  ]
%}

<div class="field-icon-feature field-icon-feature--desktop hide-md-down">
  {% for item in items %}
    <div{{ item.attributes.addClass('field__item') }}>
      {{ item.content }}
      <div class="icon-feature-illustration">
        {% include '@crew_entrepreneurship/icon-feature/' ~ icons[loop.index0] ~ '.svg.twig' %}
      </div>
    </div>
  {% endfor %}
</div>

<div class="field-icon-feature field-icon-feature--mobile hide-md-up">
  {% for item in items %}
    <div{{ item.attributes.addClass('field__item') }}>
      <div class="icon-feature-illustration">
        {% include '@crew_entrepreneurship/icon-feature/' ~ icons[loop.index0] ~ '.svg.twig' %}
      </div>
      {{ item.content }}
    </div>
  {% endfor %}
</div>
