{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}


{% if content.field_well_button|render %}
  {% set container_class = 'col-sm-9' %}
  {% set valign_class = 'vertical-align' %}
{% else %}
  {% set container_class = 'col-sm-12' %}
{% endif %}

{% set classes = content.field_well_color_selector[0]["#markup"] %}

<div{{ attributes.addClass(classes) }}>
  <div class="row {{ valign_class }}">
    <div class={{ container_class }}>
      {% if content.field_well_title['#items'] is not empty %}
        <h4>{{ content.field_well_title }}</h4>
      {% endif %}
      {{ content.field_well_content }}
    </div>
    {% if content.field_well_button|render %}
      <div class="col-sm-3 vertical-align-column">
        <div class="vertical-align-inner">
          {{ content.field_well_button }}
        </div>
      </div>
    {% endif %}
  </div>
</div>
