{% if breadcrumb %}
  {{ attach_library('crew_president/breadcrumb') }}
  
	<nav role="navigation" aria-labelledby="system-breadcrumb" class="container">
		<h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol class="breadcrumb">
			{% for item in breadcrumb %}
				<li>
					{% if item.url %}
						<a href="{{ item.url }}">{{ item.text }}</a>
					{% else %}
						{{ item.text }}
					{% endif %}
				</li>
			{% endfor %}
		</ol>
	</nav>
{% endif %}
