{% if header_options.longer_site_title %}
  {% set title_col = 'col-md-9' %}
  {% set search_col = 'col-md-3' %}
{% else %}
  {% set title_col = 'col-md-4' %}
  {% set search_col = 'col-md-8' %}
{% endif %}

<div class="container">
  <div class="{{title_col}}">
      {% if department_header|length > 0 %}
        <a href="{{ url('<front>')['#markup']|split('/')|slice(0,-2)|join('/') }}">
          <div class="page-title">
            <div>{{ department_header }}</div>
          </div>
        </a>
      <a href="{{ url('<front>') }}">
        <div class="department-header">
          {{ elements.sitebranding }}
        </div>
      </a>
      {% else %}
      <a href="{{ url('<front>') }}">
        <div class="page-title">
          {{ elements.sitebranding }}
        </div>
      </a>
      {% endif %}
  </div>

  <div class="{{search_col}}">
    {% if elements.secondarynavigation %}
      <div class="secondary-nav-container">
        {{ elements.secondarynavigation }}
      </div>
    {% endif %}

    <div class="inputs pull-right hidden-xs hidden-sm">
      <form action="//www.case.edu/search-results/" class="navbar__search-form desktop" name="searchForm" role="search" aria-label="desktop search">
        <div class="input-group">
          <span class="search-icon hidden-md hidden-lg"></span>
          <input placeholder="Search..." title="searchbox" type="search" class="navbar__search form-control form-search form-control" name="q" maxlength="128" size="15" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
          <span class="mobile-search-btn input-group-btn">
            <button type="submit" class="button js-form-submit form-submit btn icon-only" aria-label="Submit Search">
              <span class="sr-only">Search</span>
              <span class="fa fa-search" aria-hidden="true"></span>
            </button>
          </span>
          <input type="hidden" name="cx" value="016898689465592376854:piu7ufmzhzg">
          <input type="hidden" name="ie" value="UTF-8">
          <input class="hidden" role="button" name="sa" type="submit" title="search" alt="search">
        </div>
      </form>
    </div>

  </div>
</div>

<div class="container">
  {% if elements.views_block__department_name %}
    <a href="index.html" class="">
      <div class="page-title dept-title">
        {{ elements.views_block__department_name }}
      </div>
    </a>
  {% endif %}
</div>
