{#
/**
 * @file
 * Default theme implementation for a fieldgroup html element.
 *
 * Available variables:
 * - title: Title of the group.
 * - title_element: Element to wrap the title.
 * - children: The children of the group.
 * - wrapper_element: The html element to use
 * - attributes: A list of HTML attributes for the group wrapper.
 *
 * @see template_preprocess_field_group_html_element()
 *
 * @ingroup themeable
 */
#}

<{{ wrapper_element }} {{ attributes }}>
{% if element.field_event_start_time['0']['#attributes'].datetime|date('F jS') == element.field_event_end_time['0']['#attributes'].datetime|date('F jS') %}
  <div class="bold"><p>{{ element.field_event_start_time['0']['#attributes'].datetime|date('l, F jS, Y') }}</br>
  {{ element.field_event_start_time['0']['#attributes'].datetime|date('g:i A') }} - {{ element.field_event_end_time['0']['#attributes'].datetime|date('g:i A') }}</p></div>
{% else %}
  <div class="bold"><p>{{ element.field_event_start_time['0']['#attributes'].datetime|date('l, F jS') }} - {{ element.field_event_end_time['0']['#attributes'].datetime|date('l, F jS, Y') }}</p></div>
{% endif %}
</{{ wrapper_element }}>