{{ attach_library('crew_thinkbox/events') }}

{%
    set type, count, feedcount = content.field_external_rss_type['#items'].value,
    content.field_external_rss_items_to_disp.0['#markup'] - 1,
    content.rss|length - 1
%}

{% block paragraph %}
  <div class='event-feed'>
  {% if node_type == 'robust_3_column_page' %}
    <div>
  {% else %}
    <div{{ attributes.addClass('container') }}>
  {% endif %}
        {% block content %}
            {% if content.field_external_rss_news_type['#items'].value is null or content.field_external_rss_news_type['#items'].value == 'events' %}
                {# print sectional title if set #}
                {% if content.field_external_rss_title.0['#context'].value %}
                  <div class='home-events-title'>{{ content.field_external_rss_title.0['#context'].value }}</div>
                {% endif %}
                {# print this if type is theDaily or mailchimp #}
                {% if (type == 'd8' or type == 'daily' or type == 'mailchimp' or type == 'learningstream' or type == 'rawrss' or type == 'tb_cg') %}
                  {% if content.rss is null %}
                    <p class='m-20'>No events available at this time...</p>
                  {% else %}  
                    <div>
                      <ul class="home-feed-container">
                          {% for i in 0..min(count, feedcount) %}
                            <li class='home-feed-item flex'>
                              <div>
                                {% if content.rss[i].eventmonth and content.rss[i].eventday %}
                                    <div class='cal'>
                                        <span class='month'>{{ content.rss[i].eventmonth }}</span>
                                        <span class='day'>{{ content.rss[i].eventday }}</span>
                                    </div>
                                {% else %}
                                    <div class='cal'>
                                        <span class='month'>{{ content.rss[i].month }}</span>
                                        <span class='day'>{{ content.rss[i].day }}</span>
                                    </div>
                                {% endif %}
                              </div>
                              <div>
                                {% if content.rss[i].eventtype and type == 'tb_cg' %}
                                  <div class='home-event-type'>{{ content.rss[i].eventtype }}</div>
                                {% endif %}
                                <div>
                                  <a class="home-event-title" hreflang="en" href={{ content.rss[i].link }}>
                                    {% if content.rss.campusgroups_specialhandling is defined %}
                                      {% if content.rss.campusgroups_specialhandling == 'ISO-8859-1' %}
                                        {{ content.rss[i].title|convert_encoding('ISO-8859-1','UTF-8') }}
                                      {% endif %}
                                    {% else %}
                                      {{ content.rss[i].title }}
                                    {% endif %}
                                  </a>
                                </div>
                                {% if content.rss[i].eventtime %}
                                    <span>{{ content.rss[i].eventtime }}</span>
                                {% endif %}
                              </div>
                            </li>
                          {% endfor %}
                      </ul>
                    </div>
                  {% endif %}
                {% endif %}

                {# print button if it has values #}
                {% if content.field_external_rss_button.0['#title'] %}
                    {% if content.field_external_rss_button.0['#url'].uri is not defined %}
                        {{ link(content.field_external_rss_button.0['#title'],
                            content.field_external_rss_button.0['#url'].uri,
                            { 'class':['btn', 'blue'], 'target':['_blank']} )
                        }}
                    {% else %}
                      <div class="align-right">
                        <a class="round-button" href={{content.field_external_rss_button.0['#url_title']}}>{{content.field_external_rss_button.0['#title']}}</a>
                      </div>
                    {% endif %}
                {% endif %}

            {% elseif content.field_external_rss_news_type['#items'].value is defined and content.field_external_rss_news_type['#items'].value == 'news' %}
              <div class='feed-news'>{{ content.rss }}</div>
            {% elseif content.field_external_rss_news_type['#items'].value is defined and content.field_external_rss_news_type['#items'].value == 'mixed' %}
              <div class='feed-mixed'>{{ content.rss }}</div>
            {% elseif content.field_external_rss_news_type['#items'].value is defined and content.field_external_rss_news_type['#items'].value == 'full_news' %}
              <div class='feed-full-news'>{{ content.rss }}</div>
            {% endif %}

        {% endblock %}

    </div>
  </div>
{% endblock paragraph %}
