{% if header_options.longer_site_title %}
  {% set title_col = 'col-md-9' %}
  {% set search_col = 'col-md-3' %}
{% else %}
  {% set title_col = 'col-md-6' %}
  {% set search_col = 'col-md-6' %}
{% endif %}

<div class="container" id="ksl-head-container">
  <div class="{{title_col}}">
    <a href="{{ url('<front>') }}">
      <div class="page-title">
        <div>{{ elements.sitebranding }}</div>
      </div>
    </a>
  </div>
  <div class="{{search_col}}" id="head-right-side">
    {% if elements.crew_main_menu %}
      {{  elements.crew_main_menu }}
      {% set secondary_search_icon= 'secondary-search-icon' %}
    {% endif %}
    {% if elements.secondarynavigation %}
      {% if padded_secondary_nav %}
        {% set secondary_nav_padding_class=' pb-13' %}
      {% endif %}
      {% if department_header %}
        {% set secondary_nav_extra_class=' with-department' %}
      {% endif %}
	  <div class="secondary-nav-container{{ secondary_nav_extra_class }}{{ secondary_nav_padding_class }}">
      {{ elements.secondarynavigation }}
    </div>
    {% endif %}
    <div id="ksl-head-search">
      <form action="//www.case.edu/search-results/" class="navbar__search-form" id="cwru-search" name="searchForm" role="search" aria-label="desktop search">
        <label for="q" class="search-icon">
          <i class="fas fa-search"></i>
        </label>
        <input placeholder="Search CWRU" title="searchbox" type="search" class="navbar__search" name="q" id="q" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
        <input type="hidden" name="cx" value="004305171799132815236:ciq4c8b3yv4">
        <input type="hidden" name="ie" value="UTF-8">
        <input class="hidden" role="button" name="sa" type="submit" title="search" alt="search">
      </form>
    </div>
  </div>
</div>
<div class="container">
  {% if elements.views_block__department_name %}
    <a href="index.html" class="">
      <div class="page-title dept-title">
        {{ elements.views_block__department_name }}
      </div>
    </a>
  {% endif %}
</div>
